/* Home
-----------------------------*/

/* Botoes Section Topo
-----------------------------*/

button.btn.btnSectionTopo {
    background: var(--tertiary-color);
    color: var(--secundary-color);
    border-radius: 10px;
    transition: 0.5s;
}

button.btn.btnSectionTopo:hover {
    padding: 8px  20px;
    transition: 0.5s;
    background-color: var(--purpleHover);
    color: var(--secundary-color);
}

/* Section Content
-----------------------------*/

.divisor {
    width: auto;
    height: 5px;
    background: linear-gradient(to left, black, rgb(219, 143, 143), black);
}

#listaDoces h1 {
    border: 2px solid var(--secundary-color);
    display: inline;
    padding: 5px 11px;
    border-radius: 10px;
    background: var(--tertiary-color);
    color: var(--secundary-color);
    transition: 0.5s;
}

#listaDoces h1:hover {
    padding: 9px 13px;
    transition: 0.5s;
    border: 2px solid var(--tertiary-color);
}


/*Zerar o estilo do botao*/
button {
    all: unset;
}

.g-10 {
    gap: 10px;
}

.alinhaLeft {
    margin-left: -20px !important;
}

/* Medias Queries
-----------------------------*/

@media (max-width: 767px) {
    button.btn.btnSectionTopo {
        margin: 5px;
    }
}

@media (min-width: 1200px) {
    .newsBorder {
        border: 12px solid black;
        border-radius: 5px; 
    }
}

@media (max-width: 992px) {
    .marginMediaQuery {
        margin-top: 1.5rem;
    }
}