/* Variables
-----------------------------*/
:root {
    --primary-color: #9897da;
    --secundary-color: white;
    --tertiary-color: rgb(46, 38, 52);
    --purpleHover: #6666ff;
}

/* General Styles
-----------------------------*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color);
}

html, body, #home {
	height: 100%;
	overflow-x: hidden;
    scroll-behavior: smooth;
}

a, a:hover, a:active, a:focus {
    color: var(--secundary-color);
    text-decoration: none;
}

/* Content Styles
-----------------------------*/

.fullAlignFlex {
    display: flex;
    text-align: center; 
    justify-content: center;
}

.flexDirectionColumn {
    flex-direction: column;
}

.widthFull {
    width: 100% !important;
}

.espacoTopo {
    margin-top: 25px !important;
}

.espacoLateral {
    margin-left: 20px !important;
    margin-right: 20px !important;
}
